// HEADER 

header {
    background: url(/images/home-header.jpg);
    background-image: cover;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 90vh;

    nav {
        padding-top: 50px;
        width: 40%;

        ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    @include font-size(20);
                    font-family: $font-two;
                    color: $white;
                    letter-spacing: 1px;

                }

                a:hover {
                    border-bottom: 3px solid $yellow;
                    padding-bottom: 4px;
                }
            }
        }
    }

        .h1 {
            width: 50%;
            margin-top: 300px;
            position: relative;
            z-index: 10;
            color: $yellow;
        }

    img {
        width: 50%;
        position: absolute;
        right: 0;
        bottom: -120px;
    }
}

// MAIN 


// SECTION 1

.section-one {
    background: $blue-one;
}

.grid-one {

    padding-top: 150px;
    padding-bottom: 125px;
    display: grid;
    grid-template-columns: 1fr 9fr 1fr 9fr;
    grid-template-rows: 250px;

    i.fas {
        background: $yellow;
        border-radius: 50%;
        margin-top: 25px;
    }

    i.fa-map-marker-alt,
    i.fa-file {
        padding: 14px;
        line-height: 0.8;
    }

    i.fa-users {
        padding: 10px;
        line-height: 1.2;
    }

    i.fa-phone {
        padding: 12px;
        line-height: 1;
    }

    div { 

        h2 {
            color: $blue-two;
        }

    }

}

// SECTION 2 

.section-two {
    background-color: $blue-two;

    .section-two-flex {
        display: flex;
        flex-wrap: wrap;

        .left-image {
            width: 50%;
            position: relative;

            img {
                width: 100%;
                box-shadow: 10px 15px $yellow;
                position: absolute;
                right: 25%;
                top: -50px;
            }
        }
    
        .section-two-container {
            width: 50%;
            padding-bottom: 20px;
            
                h2, p {
                    color: $white;
                }

                h2 {
                    margin-top: 40px;
                }

                a {
                    display: inline-block;
                    margin: 30px 0 20px 0;               
                }

        }

        .section-two-container.one {
            padding-left: 12.5%;
        }

        .section-two-container.two {
            padding-right: 12.5%;
            position: relative;
            text-align: right;

               p {
                   text-align: left;
               }
        }

        .right-image {
            width: 50%;
            position: relative;

            img {
                width: 100%;
                box-shadow: -10px 15px $yellow;
                position: absolute;
                right: -25%;
                top: 50px;
            }
        }
    }
}


// SECTION 3

.section-three {
    background: $blue-one;
    text-align: center;

    h2 {
        padding-top: 15%;
        color: $blue-two;
    }

    P {
        text-align: left;
        margin: 0 5%;
    }

    a.find-out-more {
        margin: 50px 0;
        display: inline-block;
    }
}

// SECTION 4 

.section-four {
    background: $blue-one;
    margin: 0;
    padding: 0;
    
    img {
        width: 100%;
    }

}

//SECTION 5

.section-five {
    background: $blue-one;

    .grid-two {
        display: grid;
        grid-template-columns: 1fr 2.5fr;
        grid-gap: 10%;
        padding-top: 50px;

        .small-box {
            margin-top: 34px;

            img {
                width: 100%;
                box-shadow: -15px 15px $yellow;
            }

        }

        .win-trip {

            h2 {
                color: $blue-two
            }

            a.find-out-more {
                margin: 25px 0;
                display: inline-block;
            }

        }

    }

}

// SECTION 6

.section-six {
    background: $blue-two;

    .section-six-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 60px 0;

        .six-image {
            width: 31%;

            img {
                width: 100%;
            }
        }
    }
}

// FOOTER

footer {
    background: $yellow;
    text-align: center;

    p {
        color: $blue-two;
    }
}