// HEADER 

header {
    background: url(/images/home-header.jpg);
    background-image: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 90vh;

    nav {
        padding-top: 50px;
        width: 40%;

        ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    @include font-size(20);
                    font-family: $font-two;
                    color: $white;
                    letter-spacing: 1px;

                }

                a:hover {
                    border-bottom: 3px solid $yellow;
                    padding-bottom: 4px;
                }
            }
        }
    }

        h1 {
            width: 50%;
            margin-top: 300px;
            position: relative;
            z-index: 10;
        }

    img {
        width: 50%;
        position: absolute;
        right: 0;
        bottom: -120px;
    }
}

// MAIN 


// SECTION 1

.section-one {
    background: $blue-one;
}

.grid {

    padding-top: 150px;
    padding-bottom: 125px;
    display: grid;
    grid-template-columns: 1fr 9fr 1fr 9fr;
    grid-template-rows: 250px;

    i.fas {
        background: $yellow;
        border-radius: 50%;
        margin-top: 25px;
    }

    i.fa-map-marker-alt,
    i.fa-file {
        padding: 14px;
        line-height: 0.8;
    }

    i.fa-users, {
        padding: 10px;
        line-height: 1.2;
    }

    i.fa-phone, {
        padding: 12px;
        line-height: 1;
    }

    div { 

        h2 {
            color: $blue-two;
        }

    }

}